<nav class="navbar navbar-expand-md navbar-light bg-light"
	th:fragment="nav-front">
	<a class="navbar-brand" href="/">CMS Shopping Cart</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarsExampleDefault"
		aria-controls="navbarsExampleDefault" aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarsExampleDefault">
		<ul class="navbar-nav mr-auto">
			<li th:if="${page.slug != 'home'}" class="nav-item active" th:each="page : ${cpages}">
				<a class="nav-link" th:href="@{'/' + ${page.slug}}" th:text="${page.title}"></a>
			</li>
		</ul>
		
		<ul class="float-right navbar-nav" th:if="${loggedInUser == null}">
			<li class="nav-item active">
				<a class="nav-link" th:href="@{/register}">Register</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" th:href="@{/login}">Login</a>
			</li>
		</ul>
		
		<form th:if="${loggedInUser != null}" th:action="@{/logout}" method="post">
			<span class="mr-3" th:text="${'Hi, ' + loggedInUser}"></span>
			<button class="btn btn-secondary">Logout</button>
		</form>
	</div>
</nav>



<nav class="navbar navbar-expand-md navbar-light bg-light"
	th:fragment="nav-admin">
	<a class="navbar-brand" href="/" target="_blank">Home</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarsExampleDefault"
		aria-controls="navbarsExampleDefault" aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarsExampleDefault">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active"><a class="nav-link" href="/admin/pages">Pages</a></li>
			<li class="nav-item active"><a class="nav-link" href="/admin/categories">Categories</a></li>
			<li class="nav-item active"><a class="nav-link" href="/admin/products">Products</a></li>
		</ul>
		
		<form th:if="${loggedInUser != null}" th:action="@{/logout}" method="post">
			<span class="mr-3" th:text="${'Hi, ' + loggedInUser}"></span>
			<button class="btn btn-secondary">Logout</button>
		</form>
	</div>
</nav>